@media (min-width: 640px) and (max-width: 999px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        background-color: white;
        max-width: 640px;
        margin: auto;
    }

    html, body{
        width: 640px;
        margin: auto;
        overflow-x: hidden;
    }
    header{
        width: 640px;
        height: 34px;
    }



    .header-cont{
        width: 640px;
        height: 34px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav{
        height: 34px;
        margin: 0;
        width: 40px;
        display: flex;
        align-items: center;
    }

    .logo-div{
        width: 60px;
        height: 34px;
        /* display: flex;*/
        justify-content: flex-start; 
        align-items: center;
        margin: 3px 0 0 19px;
        /* border: 1px solid white; */
    }

    .logo{
        height: 30px;
        width: 47px;
        font-size: 12px;
        line-height: 15px;
        border: none;
        border-radius: 0;
        position: relative;
        cursor: pointer;
    }

    .logo-inner{
        text-align: center;
        line-height: 120%;
        letter-spacing: 0.05em;
        font-family: "Roboto-200";
        font-size: 12px;
        height: 30px;
        width: 47px;
        color:#FFFFFF;
        margin: 0;
    }

    .bamboo-stick{
        height: 15px;
        width: 5px;
        position: absolute;
        top: 43%;
        left: 10%;
        transform: rotate(-15deg);
    }

    /* .open-burger-menu-container-alt{
        display: block;
        position: relative;
        width: 100%;
        height: fit-content;
    } */

    .burger-menu{
        display: block;
        margin: 5px 20px 0 0;
        /* border: 1px solid white; */
        height: 16px;
        width: 20px;
    }
    .burger-menu p{
        width: 18px;
        height: 2px;
        background: white;
        margin-bottom: 2px;
    }

    .panda-section{
        width: 640px !important;
        background-color: #FFFFFF;
        height: 339px;
    }
    .panda-bg{
        width: 640px;
        margin: auto;
        background-image: url('../../assets/images/Giant-Panda-tablet.png');
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: -34px;
        height: 339px;
    }

    .ellipse-container{
        margin: 0 0 0 290px;
        width: 278px; 
        height: 248px; 
        display: flex;
        justify-content:flex-end;
        align-items: flex-end;
    }

    .ellipse{
        background-image: url('../../assets/images/EllipseTablet.png');
        width: 238px; 
        height: 238px; 
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover;
    }

    .main-title{
        margin: 38px 0 0 38px;
        font-family: "Roboto-500";
        font-weight: 700;
        font-size: 54px;
        line-height: 41px;
        text-align: center;
        text-transform: uppercase;
        width: 256px;
        height: 205px;
        color: #FFFFFF;
        display: inline-block;
    }

    .watch-btn-div{
        width: 300px;
        height: 54px;
        margin-left: 20px;
        margin-top: -4px;
        /* display: flex;
        justify-content: flex-end;
        align-items: center; */
    }

    .watch-btn{
        cursor: pointer;
        letter-spacing: 0.3px;
        float: right;
        height: 54px;
        width: 298px;
        font-family: "Roboto-300";
        font-weight: bolder;
        font-size: 16px;
        /* padding: 10px; */
        background-color:#FE9013;
        color: #FFFFFF;
        text-align: center;
        text-transform: uppercase;
        line-height: 140%;
        border-radius: 25px;
        border: none;
    }

    /* WILD */
    main{
        width: 640px;
        margin: auto;
    }
    .wild-world{
        width: 640px;
        margin: auto;
        margin-top: 0;
        background-image: url('../../assets/images/flower_foto1-tablet.png');
        background-repeat: no-repeat;
        background-position: right;
        background-position-y: -20px;
        height: 476px;
    }
    .wild-world-inner{
        width: 640px;
        height: 450px;
    }
    .wild-world-txt{
        display: block;
        width: 640px;
        height: 440px;
        /* border: 1px solid red; */
        margin: 0 0 0 20px;
    }

    h2{
        font-family: "Roboto-300";
        letter-spacing: 0.01em;
        text-align: left;
        font-size: 48px;
        line-height: 57.6px;
        width: 454px;
        height: 116px;
        color: #333B41;
        margin: 20px 0 0 2px
        
    }
    .founded{
        /* border: 1px solid red; */
        max-height: 93px;
        width: 494px;
        font-family: "Roboto-500";
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0em;
        color:#333B41;
        padding-top: 13px;
    }

    .text-story{
        display: block;
        flex-direction: column;
        width: 320px;
        height: 331px;
    }

    .marker-one{
        height: 63px;
        display: block;
        margin: auto;
        margin-top: 10px;
    }
    .marker-two{
        display: block;
        margin: 22px 0 0 5px;
        max-height: 29px;
    }
    .marker-three{
        display: block;
        margin: auto;
        margin-top: 7px;
        font-size: 16px;
        line-height: 137%;
        width: 495px;
        height: 110px;
    }

    h4{
        text-align: left;
        max-height: 29px;
        width: 203px;
        font-family: "Roboto-300";
        font-size: 24px;
        line-height: 120%;
        letter-spacing: 0em;
        text-align: left;
        color:#333B41;
    }


 

    /* CATALOG */
    

    .catalog-container{
        display: flex;
        justify-content: space-between;
        position: relative;
        border-radius: 0px;
        height: 1542px;
        height: 1560px;
        height: 910px;
        width: 640px;
        margin: auto;
       
    }
    .catalog-outer{
        position: absolute;
        top: 0;
        left: 0;
        height: 1455px;
        height: 910px;
        width: 640px;
        display: flex;
        align-items: center;
    }
    .catalog-inner{
        height: 1420px;
        height: 800px;
        width: 640px;
        margin: auto;
        margin-top: 9px;
        display: flex;
        align-items: center;
    }
    .catalog-grid-outer{
        height: 800px;
        width: 640px;
        display: block;
        margin-top: 0;
    }

    .catalog-grid-alter-mobile{
        margin: 6px 0 0 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 26px;
        row-gap: 72px;
    }

    .arrow-left{
        position: absolute;
        top: 39%;
        left: 38%;
        z-index: 6;
    }
    .arrow-right{
        position: absolute;
        top: 39%;
        left: 49%;
        z-index: 6;
    }

    .gvimra-alt-div{
        display: block;
        position: absolute;
        top: 785px;
        left: 0;
        width: 385px;
        height: 202px;
        align-self: flex-end;
        background-image: url('../../assets/images/palm_foto-tablet.png');
        background-repeat: no-repeat;
        background-position: left;
        /* background-position-y: -10px; */

    }
    .dragon-flower-alt-div{
        display: block;
        position: absolute;
        top: 860px;
        right: 0;
        width: 175px;
        height: 131px;
        align-self: flex-end;
        background-image: url('../../assets/images/strelitzia1-tablet.png');
        background-repeat: no-repeat;
        background-position: right;
        /* background-position-y: -10px; */
    }



    .grid-card{
        border: 1px solid #FE9013;
        height: 332px;
        width: 287px;
        margin: auto;
        margin-bottom: 20px;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
    }

    .catalog-legend{
        display: flex;
        width: 285px;
    }

    .catalog-legend-inner{
        width: 285px;
        padding: 2px 0 0 12px;
    }

    .catalog-legend-inner h6{
        font-family: "Roboto-500";
        font-size: 12px;
        width: 200px;
        letter-spacing: 0.01em;
    }
    .catalog-legend-inner p{
        font-family: "Roboto-500";
        font-size: 11px;
        width: 200px; 
        letter-spacing: 0.02em;
    }

    .grass{
        margin: 2px 10px 0 0;
        height: 30px;
        width: 27px;
    }
    .meat{
        margin: 2px 6px 0 0;
        height: 30px;
        width: 35px;
    }

    .btn-catalog{
        margin: auto;
        margin-top: 0;
    }
    .watch-btn{
        cursor: pointer;
        letter-spacing: 1px;
        float: right;
        height: 55px;
        width: 300px;
        font-family: "Roboto-300";
        font-weight: bolder;
        font-size: 15px;
        padding: 16px;
        background-color:#FE9013;
        color: #FFFFFF;
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 140%;
        border-radius: 25px;
        border: none;
        margin-top: 2px;
    }

    /* FRIENDS */

    .friend{
        height: 1084px;
        height: 782px;
        width: 640px;
        margin: auto;
        margin-top: 75px;
        padding: 0;
        padding-top: 20px;
    }
    
    .friends-inner{
        padding: 0;
        padding-top: 7px;
        width: 640px;
        margin: auto;
        height: 1042px;
        height: 742px;
    }

    .pick{
        width: 405px;
        height: 50px;
        margin: auto;
        margin-top: 0;
        font-size: 42px;
    }

    .know{
        width: 600px;
        height: 52px;
        font-size: 22px;
        margin: 25px 0 0 20px;
        letter-spacing: 0.006em;
        line-height: 26px;
        text-align: left;
    }

    .covid{
        width: 600px;
        height: 42px;
        font-size: 16px;
        line-height: 21px;
        text-align: left;
        margin: 42px 0 0 19px;
    }

    .even{
        width: 600px;
        height: 42px;
        font-size: 16px;
        line-height: 21px;
        text-align: left;
        margin: 11px 0 0 18px;
    }

    .how{
        width: 209px;
        height: 47px;
        margin: auto;
        margin-top: 30px;
        font-size: 36px;
        font-family: "Roboto-300";
        line-height: 47px;
    }

 

    .trio-vector-alt-mobile1, .trio-vector-alt-mobile2{
        display: block;
    }
    .trio-vector-alt-mobile1 {
        position: absolute;
        top: -18%;
        left: 30%;
        transform: rotate(-90deg);
    }
    .trio-vector-alt-mobile2 {
        position: absolute;
        top: -18%;
        left: 63%;
        transform: rotate(-90deg);
    }
    .trio{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 630px;
        height: 771px;
        height: 270px;
        /* margin: auto; */
        margin-left: 0;
        margin-top: 18px;
        position: relative;
        /* border: 1px solid red; */
    }
    .trio-card-outer{
        margin: auto;
        margin-top: 0;
        font-family: "Roboto-400";
        height: 222px;
        width: 168px;
        color: #333B41;
    }
    .trio-card-outer p{
        margin-top: 30px;
        font-family: "Roboto-400";
        line-height: 140%;
        height: 44px;
        width: 168px;
        font-size: 16px;
        color: #333B41;
    }

    .feed-btn-div{
        width:300px;
        height: 56px;
        margin: auto;
        margin-top: 15px;
    }

    .feed-btn{
        width: 298px;
        height: 54px;
        margin: auto;
    }

    /* TESTIMONIALS */



    .testimonial-title{
        width: 230px;
        height: 47px;
        margin: auto;
        margin-top: 64px;
        font-size: 36px;
    }
    .testimonials-container-outer{
        margin-top: 10px;
        width: 640px;
        max-height: 379px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }
    .testimonials-container{
        width: 640px;
        height: 380px;
        height: 379px;
        height: fit-content;
        flex-direction: column;
        margin-top: 15px;
    }
    .testimonials-item{
        width: 600px;
        height: 109px;
        margin: auto;
        margin-bottom: 15px;
        padding: 0;
    }
    .testimonials-item-container{
        width: 565px;
        display: flex;
        margin: 10px 0 0 10px;
    }

    .outer-subtitle{
        margin: 1px 0 0 6px;
        display: flex;
        flex-direction: column;
       
    }

    .test-txt{
        width: 565px;
        height: 38px;
        margin: 10px 0 0 15px;
    }

    /* .michael{
        order: 1;
    }
    .mila{
        order: 2;
    }
    .fredericka{
        order: 3;
    } */
    .testimonials-main-container{
        width: 640px;
        height: 669px;
        margin: auto;
        /* border: 1px solid red; */
    }
    .leaf-feedback-container{
        display: flex;
        flex-direction: column;
        width: 640px;
        margin: auto;
        margin-top: 15px;
        height: 149px;
       
    }
    .feed-back-btn-div{
        display: flex;
        justify-content: space-between;
        width: 640px;
        height: 75px;
        
    }
    .feed-back-btn{
        margin: auto;
        margin-top: 15px;
        letter-spacing: 0.05em;
        border-radius: 5px;
        width: 240px;
    }
    .leaf-tablet{
        display: block;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: -57px;
        /* border: 1px solid red; */
    }

    /* FOOTER */

    footer{
        /* border: 2px solid red; */
        width: 640px;
        height: 282px;
        margin-top: -66px;
        padding: 0;
    }
    .footer-main-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 640px;
        margin: auto;  
    }
    .footer-logo{
        order: 1;
        height: 55px;
        margin: 12px 0 0 22px;
        align-self: flex-start;
        width: 220px;
    }
    #logo-anchor2{
        width: 120px;
        align-self: center;
        display: flex;
        justify-content: flex-start;
        border: 1px solid #FFFFFF;
        border-radius: 2px;
        width: 82px;
        height: 52px;
    }
    .logo-inner2{
        padding-top: 2px;
        width: 160px;
        height: 33px;
        font-family: "Roboto-300";
        margin: 0 0 0 0;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 0.035em;
    }
    #logo-anchor2 img{
        position: absolute;
        top: 45%;
        left: 17%;
    }
    .social-media{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 35px;
        margin: auto;
        height: 175px;
    }
    .social-media-outer{
        height: 180px;
        width: 35px;
        margin: auto;
        order: 3;
        margin: 3px 0 0 273px;
        
    }
    .social-media-anchor-add{
        display: none;
    }
    .tiny-ellipse{
        background: rgba(196, 196, 196, 0.5);
        min-width: 30px;
        min-height: 30px;
        max-width: 30px;
        max-height: 30px;
        border-radius: 50%;
        border: 2px solid black;
    }

    .footer-container1{
        width: 640px;
        height: 200px;
        margin: auto;
        display: flex;
        flex-direction: row;
    }
    .footer-container2{
        width: 320px;
        display: block;
        height: 50px;
        /* order: 5; */
        margin-top: 11px;
    }

    .footer-container2 nav{
        display: inline;
        margin: 0;
        height: 50px;
        width: 340px;
        
    }
    .footer-container2 nav ul{
        display: flex;
        justify-content: space-between;
        width: 300px;
        margin: 22px 0 0 20px;
    }
    .footer-container2 nav ul li {
        margin-left: 0;
        display: block;
    }
    .footer-container2 nav ul li a{
        display: block;
    }
    .footer-btn{
        order: 2;
        display: block;
        margin-top: 87px;
        margin-left: -222px;
        height: 116px;
    }
    .donate-btn{
        margin: auto;
        width: 298px;
    }
    .footer-container3{
        margin: -66px 0 0 392px;
        width: 240px;
    }
    .author{
        /* order: 4; */
        color: #FFFFFF;
        margin: 25px 0 0 0;
    }
    .author a, .author p {
        font-size: 16px;
        width: 228px;
    }

    .single, ul, .man, .flowers,
    .dragon-flower, .gvimra, .catalog-grid, 
    .trio-vector, .button-prop-container,.gauge, .leaf, 
    .leaf-mobile .social-media-anchor-add,
     .search-bar{
        display: none;
    }
}

/* .arrow-left, .arrow-right, */